

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ===== Colors ==== */
:root{
    --body-color: #ffffff;
    --nav-color: #ffffff;
    --side-nav: #010718;
    --text-color: #7c7a7a;
    --search-bar: #f2f2f2;
    --search-text: #fdfdff;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.nav-bar .logo ::before{
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 60%;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0px;
    list-style: none;
}

.nav-links li {
    position: relative;
    font-size: 17px;
    font-weight:500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}

.nav-links li ::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 60%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover ::before{
    color: rgb(155, 155, 202);
    opacity: 0;
}

.nav-links li:hover{
    color: rgb(130, 202, 62);
}